.upper {
    background-color: #ff6600;
    text-align: center;
    color: black;
    height: 250px;
    width: 750px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.middle {
    background-color: white;
    height: 250px;
    width: 750px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    margin-bottom: 0%;
    position: relative;
}

.middle>img {
    height: 130px;
    width: 130px;
    margin-left: 325px;
    margin-top: 70px;
    position: absolute;
}

.lower {
    background-color: #0a5111;
    text-align: center;
    color: black;
    height: 250px;
    width: 750px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.lower>p {
    margin-top: 0%;
    padding: 70px;
    font-size: 5rem;
    color: navy;
}

.upper>p {
    font-size: 5rem;
    color: navy;
}